---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<br>
<center>
    <a href="https://itunes.apple.com/us/podcast/paper-boys/id1434648452?mt=2#"><img src="icons/Apple.svg" style="height:40px;"></a>
    <a href="https://open.spotify.com/show/3QxiGvoATJLxNw0264LaMy"><img src="icons/Spotify.svg" style="height:40px;"></a>
    <a href="https://overcast.fm/itunes1434648452/paper-boys"><img src="icons/Overcast.svg" style="height:40px;"></a>
    <a href="https://pca.st/8pn5"><img src="icons/PocketCasts.svg" style="height:40px;"></a>
    <a href="https://radiopublic.com/paper-boys-GOEBYN"><img src="icons/RadioPublic.svg" style="height:40px;"></a>
    <a href="https://castbox.fm/channel/Paper-Boys-id1424501"><img src="icons/Castbox.svg" style="height:40px;"></a>
    <a href="https://play.google.com/music/m/I53bjlbje54eb36zaj6itowy25u?t=Paper_Boys"><img src="icons/GooglePodcasts.svg" style="height:40px;"></a>
    <a href="https://pinecast.com/feed/paperboys"><img src="icons/RSS.svg" style="height:40px;"></a>
</center>


{% comment %}
*
* Widgets
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.image or page.widget1.video or page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}

	{% if page.widget2.image or page.widget2.video or page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}

	{% if page.widget3.image or page.widget3.video or page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->


{% comment %}
*
* Content
*
{% endcomment %}


<div class="row">
    <h1 id="a-science-podcast-by-real-scientists">A science podcast by real scientists</h1>
    <i>Paper Boys</i> is the podcast where we unravel the research papers behind the latest major headlines in science. Often times, science journalism misses the mark - headlines make misinformed claims, the stories misrepresent the science, or the research is flat-out disrespected. James and Charlie aim to combat the problems in science news by bringing you the actual journal papers behind the headlines. As PhD students, they're experts at breaking down dense papers into fascinating discussions on the methods, results, and implications of the hottest new research. The Paper Boys give you science direct from the source so you know you're getting the whole story.
    
</div><!-- /.row -->

{% comment %}
*
* "Call-for-action" button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
<div class="row t60 b60">
    <div class="small-12 text-center columns">
        <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
    </div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


{% comment %}
*
* New epsiodes list
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.url }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_episodes }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.subheadline }} - {{ post.title }}</a></h2>
            <p>
            {% if post.header.image_fullwidth %}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.urlimg }}{{ post.header.image_fullwidth }}" class="alignleft" width="150" height="150" alt="{{ page.title }}"></a>{% endif %}
            
            {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
            
            <br><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_episodes }}</strong></p>
            {% include list-posts2 entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}



